#level-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#level-2{
    display: grid;
    .peas{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
#level-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .peas{
        grid-column: span 1;
    }
    .onions{
        grid-column: span 2;
    }
    .tomatoes{
        grid-column: span 2;
    }
    .carrots{
        grid-column: span 3;
    }
 
}

#level-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .peas{
        grid-column: span 2;
    }
    .onions{
        grid-column: span 1;
        grid-row: span 2;
        order: 1;
    }
    .tomatoes{
        grid-column: span 1;
        order: 3;
    }
    .carrots{
        order: 2;
        grid-row: span 2;
    }
    .lettuce{
        order: 4;
    }
}
#level-5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .carrots{
        order: -1;
        grid-column: span 1;
        grid-row: span 3;
    }
    .onions{
        grid-column-start: 3;
        grid-row: span 2;
    }
    .lettuce{
        grid-column-start: 5;
    }
    .peas{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
    }
    .tomatoes{
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 5;
    }

}
#level-6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .carrots{
        order: -2;
        grid-column: span 4;
    }
    .onions{
        grid-column: span 1;
        grid-row: span 2;
        order: -1;
    }
    .peas{
        grid-column: span 2;
        grid-row: span 2;
    }
    .tomatoes{
        grid-row: span 2;
    }
    .lettuce{
        grid-column: span 4;
    }
}
#level-7{
    display: grid;
    grid-template-columns: repeat(5, minmax(5ch, 1fr));

}
#level-8{
    display: grid;
    grid-template-columns: repeat(auto-fit, 15ch);
    grid-auto-rows: 5ch;
}
#level-9{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-auto-rows: 5rem;
}